.leftBar{
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    overflow-y: scroll;
    background-color: white;

    .container{
        padding: 20px;


        .menu{


            .user{

                img{
                    

                }

                span{


                }


            }
            .item{

                img{


                }

                span{


                }
            }

        }    
    }
}