@import '../../style.scss';

.navbar{
    @include themify($themes){
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 10px 20px;
    height: 30px;
    border-bottom: 0.5px solid lightgray;
    position: sticky;
    top: 0;
    z-index: 999;
    background: themed('bg');
    color: themed('textColor');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .left{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        span{

            font-size: 25px;
            font-weight: bold;
            color: themed('logo');

        }
        .search{
            display: flex;
            align-items: center;
            justify-content: center;

            input{

                width: 400px;
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
                background-color: transparent;
                color: themed('textColor');

                @include mobile{
                    display: none;
                }
                
                &:focus{
                    outline: none;
                }

            }

        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
            display: none;
        }
        
        .user{

            display: flex;
            align-items: center;
            gap: 10px;

            img{

                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;

            }

            span{

                font-weight: bold;

            }
            &:hover{

                cursor: pointer;
                color: lightgray;


            }
        }
    }
}

}