@import '../../style.scss';

.rightBar{
    @include themify($themes){
    flex: 3;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    // border-radius: 10px;
    @include mobile{
        display: none;
    }
    &::-webkit-scrollbar{
        display: none;
    }

    background-color: themed('bgSoft');
    color: themed('textColor');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    .container{
        padding: 10px;

        .item{
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            padding: 10px 10px;
            margin-bottom: 20px;
            background-color: themed('bg');
            border-radius: 10px;
            color: themed('textColor');


            span{
                color: themed('textColorSoft');
            }
        }
        


        hr{
            margin: 20px 0px;
            border: none;
            height: 0.5px;
            background-color: lightgray;
        }

        .user{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            margin: 20px 0px;

            .time{
                font-size: 14px;
                color: themed('textColorSoft');
            }
        }

        .userInfo{
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            justify-content: center;
            align-items: center;
            text-align: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            .online{
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: limegreen;
                position: absolute;
                top: 0;
                left: 30px;
            }
            span{
                font-weight: bold;
                font-size: 15px;
                color: themed('textColor');
            }
            p{
                font-size: 12px;
                color: themed('textColor');
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
                text-align: center

                span{
                    font-weight: bold;
                    color: themed('textColor');
                }
            }
        }

        

        .buttons{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        
        

    }
}

}